.card-kr:hover {
    border-style: solid;
    border: 0.5;
    border-color: #F3A02B;
    transform: scale(1.021);
    transition: 0.21s;
}

nav.scroll {
    background-color: black;
    opacity: 0.3;
    color: antiquewhite;
}

.imagen-encabezado{
    position: relative;
}

.imagen-encabezado img {
    width: 100%;
    height: 550px;
}

.elementos-busqueda-ipc {
    position: absolute;
    top: 47%;
    left: 34%;
}

.text-titulo {
    padding-bottom: 3%; 
    color: #fff;
    font-size: 3.1em;
    font-family: '-webkit-pictograp';
    text-shadow: 1px 0.4px black;
}

.text-titulo span {
    color: #f0c517;
}

.form-inline {
    justify-content: flex-end;
}

.form-inline button {
    background: rgba(35,64,127,0.92);
background: -moz-linear-gradient(left, rgba(35,64,127,0.92) 7%, rgba(29,35,168,0.92) 32%, rgba(27,24,185,0.94) 42%, rgba(64,98,199,0.96) 53%, rgba(28,34,217,0.97) 64%, rgba(28,34,217,0.98) 68%, rgba(29,48,222,1) 79%, rgba(31,68,229,1) 95%, rgba(35,64,127,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(7%, rgba(35,64,127,0.92)), color-stop(32%, rgba(29,35,168,0.92)), color-stop(42%, rgba(27,24,185,0.94)), color-stop(53%, rgba(64,98,199,0.96)), color-stop(64%, rgba(28,34,217,0.97)), color-stop(68%, rgba(28,34,217,0.98)), color-stop(79%, rgba(29,48,222,1)), color-stop(95%, rgba(31,68,229,1)), color-stop(100%, rgba(35,64,127,1)));
background: -webkit-linear-gradient(left, rgba(35,64,127,0.92) 7%, rgba(29,35,168,0.92) 32%, rgba(27,24,185,0.94) 42%, rgba(64,98,199,0.96) 53%, rgba(28,34,217,0.97) 64%, rgba(28,34,217,0.98) 68%, rgba(29,48,222,1) 79%, rgba(31,68,229,1) 95%, rgba(35,64,127,1) 100%);
background: -o-linear-gradient(left, rgba(35,64,127,0.92) 7%, rgba(29,35,168,0.92) 32%, rgba(27,24,185,0.94) 42%, rgba(64,98,199,0.96) 53%, rgba(28,34,217,0.97) 64%, rgba(28,34,217,0.98) 68%, rgba(29,48,222,1) 79%, rgba(31,68,229,1) 95%, rgba(35,64,127,1) 100%);
background: -ms-linear-gradient(left, rgba(35,64,127,0.92) 7%, rgba(29,35,168,0.92) 32%, rgba(27,24,185,0.94) 42%, rgba(64,98,199,0.96) 53%, rgba(28,34,217,0.97) 64%, rgba(28,34,217,0.98) 68%, rgba(29,48,222,1) 79%, rgba(31,68,229,1) 95%, rgba(35,64,127,1) 100%);
background: linear-gradient(to right, rgba(35,64,127,0.92) 7%, rgba(29,35,168,0.92) 32%, rgba(27,24,185,0.94) 42%, rgba(64,98,199,0.96) 53%, rgba(28,34,217,0.97) 64%, rgba(28,34,217,0.98) 68%, rgba(29,48,222,1) 79%, rgba(31,68,229,1) 95%, rgba(35,64,127,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23407f', endColorstr='#23407f', GradientType=1 );
    font-weight: 500;
    border: none;
    width: 25%;
}

.form-inline .form-control {
    width: 50% !important;
}