/* nav {
    background-color:transparent;
    height: 10vh;
}

.nav-links {
    padding-inline-end: 7px;
    padding-inline-start: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-links li {
    list-style:none;
}

.nav-links li a {
    color: black;    
    font-size: 1.1em;
} */

nav {
    width: 100%;
    padding: 0;
    margin: 0;    
    height: 18vh;
}

nav .nav-ipc:not(.box-logo-ipc) {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    /* opacity: 1; */
    /* background-color: #676868; */
}

.box-items-ipc {
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: stretch;
    height: 100%;    
}

.nav-links li {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link {
    color: #fff;
    font-size: 1.2em;
}

.logo-ipc {
    height: 47%;
    width: 47%;
}

@media screen and (max-width: 768px) {
    .line{
        background: white;
        width: 30px;
        height: 3px;
        margin: 5px;        
    }

    nav {
        position: relative;
    }

    .hamburguer {
        position: absolute;
        cursor: pointer;
        top: 50%;
        right: 5px;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background: black;
        /* display: none; */
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10);
        transition: all 1s ease-out;
    }
    
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10);
    }
}
