.contenedor{
    text-align: center;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    max-width: 500px;
    padding: 20px;
    margin-top: 65px;
}

div.row{
    font-size: 1.1em;
    color: '#f3a02b';
}

input {
    padding: 0.375rem 0.75rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 4;
    border-style: groove;
    color: #495057;
    width: 65%;
}

input:focus {
    border-bottom-color: #F3A02B !important;
    border-width: 1;
    /* box-shadow: 0 1 2 0 0.5; */
}

select:focus {
    border-color: #F3A02B !important;
    box-shadow: 0 3 5 0 rgba(0,0,0,0.3);
}

.input-solos {
    text-align: start;    
}

.input-solos label{
    padding-right: 35px
}

.row{
    margin-block-start: 15px !important;
}